$font-stack: 400 16px 'Montserrat', sans-serif;


@mixin mqmax($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}


@mixin flexbox($direction) {
    display: flex;
    flex-direction: $direction;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: $font-stack;
    color: #ffffff;
    text-align: center;
}


body,
html {
    background-color: #121212;
    width: 100vw;
    height: 100vh;
    @include flexbox(column);
    justify-content: center;
    align-items: center;
    align-content: center;
}

.timer {
    @include flexbox(row);
    justify-content: center;
}